<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> 活动管理网站（管理员模式）</title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<nav>
    <ul class ="nav nav-pills pull-left">
        <li role="presentation">
            <a href = "{% url 'home' %}">退出管理员模式</a>
        </li>
    </ul>
    <ul class="nav nav-pills pull-right">
            <li role="presentation">
                <a href="{% url 'admin_user_info' user.id %}">查看个人信息</a>
            </li>
            <li role="presentation">
                <a href="{% url 'log_out' %}">登出(<b>{{user.username}}</b>)</a>
            </li>
    </ul>
</nav>
<body>

    <div class="container">
        <div class="header clearfix">
        </div>
        <div class="header clearfix"><h3 class="text-muted"> 一个活动管理网站</h3></div>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer class="footer">
            <p>&copy; 2017 一个活动管理网站</p>
        </footer>
    </div>
</body>
</html>