{% extends 'admin_base.html' %}
{% load bootstrap3 %}
{% block content%}

        <hr>
        <div class="panel-body word-wrap">
            头像：<img height = 100 width = 100 src="{{ user_profile.image.url }}">
        </div>
        <hr>
        <div class="panel-body word-wrap">
            用户：{{ user_obj.username }}
        </div>
        <hr>
        <div class="panel-body word-wrap">
            真实姓名：{{ user_profile.real_name}}
        </div>
        <hr>
        <div class="panel-body word-wrap">
            邮箱：{{ user_obj.email}}
        </div>
        <hr>
        <div class="panel-body word-wrap">
            用户权限：
            {% if user_profile.privilege == 0 %} 普通用户 {% endif %}
            {% if user_profile.privilege == 1 %} 认证用户 {% endif %}
            {% if user_profile.privilege == 2 %} 管理员   {% endif %}
        </div>
        <hr>
        {% if user_profile.privilege != 0 %}
            <div class="panel-body word-wrap">
                成功举办的活动数目：{{ user_profile.admitted_activity_count}}
            </div>
            <hr>
        {% endif %}
            <div class="panel-body word-wrap">
                已参加的活动数目：{{ user_profile.joined_activity_count}}
            </div>
            <hr>

        {% if user.is_authenticated %}
            {% if user_obj.id != user.id %}
                {% if user_profile.privilege == 0 %}
                <form method="post" action="{% url 'upgrade_user' user_obj.id%}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">升级用户</button>
                </form>
                {% endif %}
                {% if user_profile.privilege == 1 %}
                <form method="post" action="{% url 'degrade_user' user_obj.id%}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">降级用户</button>
                </form>
                {% endif %}
            {% endif %}
        {% endif %}

    <form method="post" action="{% url 'admin_home' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">返回</button>
    </form>
{% endblock %}