{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    {% include 'messages.html' %}
<h3>创建活动</h3>
    {% if privilege >= 1 %}
<div>
    <form method="post" action="{% url 'apply_activity' %}">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_form form %}
        {% buttons submit='提交' %}{% endbuttons %}
    </form>
    <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">返回</button>
    </form>
</div>
<hr>
        <h3>从文件批量导入</h3>
    <div>

        <form method="post" action="{% url 'multi_apply_submit'%}" enctype = "multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="file">请上传文件</label>
                <input type="file" id="file" name="file" class="form-control" accept=".txt" required/>
            </div>
            <button type="submit" class="btn btn-primary" >导入</button>
        </form>

    </div>
    {% else %}
        <div>
            你的权限不够，先去认证吧！
            <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">返回</button>
            </form>
        </div>
    {% endif %}
{% endblock %}