{% extends 'base.html' %}
{% block content%}
<h3>用户认证</h3>
<div>
    <form method="post" action="{% url 'authenticate_submit' %}">
        {% csrf_token %}
        <div class="form-group">
        <label for="auth_code">认证码</label>
        <input type="text" id="auth_code" name="auth_code" class="form-control" placeholder="Authentication Code" required/>
        </div>

        <button type="submit" class="btn btn-primary">认证</button>
    </form>
</div>
        <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">返回</button>
    </form>
{% endblock %}