{% extends 'base.html' %}
{% block content%}
<h3>注册</h3>
<div>
    <form method="post" action="{% url 'change_info_submit' %}">
        {% csrf_token %}

        <div class="form-group">
        <label for="password">密码</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
        </div>

        <div class="form-group">
        <label for="check_password">重复密码</label>
        <input type="password" id="check_password" name="check_password" class="form-control" placeholder="Repeat Password" required/>
        </div>

        <div class="form-group">
        <label for="email">邮箱</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required/>
        </div>

        <div class="form-group">
        <label for="real_name">真实姓名</label>
        <input type="text" id="real_name" name="real_name" class="form-control" placeholder="Real Name" required/>
        </div>

        <button type="submit" class="btn btn-primary">确认修改</button>
    </form>
</div>
        <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">返回</button>
    </form>
{% endblock %}