{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    {% include 'messages.html' %}
    {% if user.id == activity.user_id_id %}
        所有参加者如下：
        <table>
            <tbody class="table">
                {% for join in joins %}
                    <tr>
                        <td>
                            <div class="pull-right">
                                <h4>{% bootstrap_icon 'user' %}<b>{{join.user_id}}</b></h4>
                            </div>
                        </td>
                        <td>
                            <form ethod="post" action="{% url 'cancel_activity_join' join.id %}">
                                {% csrf_token %}
                            <button type="submit" class="btn btn-primary">删除参与权限</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        所有黑名单中的用户如下：
        <table>
            <tbody class="table">
                {% for join in blackjoins %}
                    <tr>
                        <td>
                            <div class="pull-right">
                                <h4>{% bootstrap_icon 'user' %}<b>{{join.user_id}}</b></h4>
                            </div>
                        </td>
                        <td>
                            <form ethod="post" action="{% url 'clear_activity_join' join.id %}">
                                {% csrf_token %}
                            <button type="submit" class="btn btn-primary">开放参与权限</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

   <form method="post" action="{% url 'show_activity' activity_id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">返回</button>
    </form>
    {% else %}
        你不是创建者，无权访问参与列表

{% endif %}
{% endblock %}