{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    {% include 'messages.html' %}
    <h4>用户{% bootstrap_icon 'user' %}<a href="{% url 'show_user_info' user.id %}"><b>{{ user.username}}</b></a>创建的活动有：</h4>
<table>
    <tbody class="table">
        {% for act in activities %}
        <tr>
            <td>
                <h3><a href="{% url 'show_activity' act.id %}">{{act.name}}</a></h3>
                <div class="pull-right">
                    <h4>{% bootstrap_icon 'user' %}<a href="{% url 'show_user_info' act.user_id.id %}"><b>{{act.user_id}}</b></a>
                        类别{% bootstrap_icon 'th-large' %}{{act.type }}
                        地点{% bootstrap_icon 'home' %} {{act.place }}</h4>
                    <h4>
                        开始时间{% bootstrap_icon 'time' %}{{act.start_time}}
                        结束时间{% bootstrap_icon 'time' %}{{act.end_time}}</h4>
                    <h4>
                        <b>状态：</b>{% bootstrap_icon 'flag' %}
                        {% if act.state == 0  %} 挂起中 {% endif %}
                        {% if act.state == 1  %} 申请中 {% endif %}
                        {% if act.state == 2  %} 被创建者取消 {% endif %}
                        {% if act.state == 3  %} 被管理员禁用 {% endif %}
                        {% if act.state == 4  %} 安排未中 {% endif %}
                        {% if act.state == 5  %} 等待举办 {% endif %}
                        {% if act.state == 6  %} 完成 {% endif %}
                    </h4>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">返回</button>
    </form>

{% endblock %}