{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
    {% include 'messages.html' %}
    <table>
        <tbody class="table">
            {% for msg in msgs %}
                <tr>
                    <h3>消息{{ msg.id }}：</h3>
                </tr>
                <tr>
                    <td>
                        <div class="pull-right">
                            <h4>用户名：{% bootstrap_icon 'user' %}<b>{{msg.from_user_id}}</b></h4>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <h4>标题：{% bootstrap_icon 'title' %}<b>{{msg.title}}</b></h4>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <h4>内容：{% bootstrap_icon 'content' %}<b>{{msg.content}}</b></h4>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}